[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
lastScreen=-1
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][3]
immutability=1
plugin=org.kde.plasma.analogclock

[Containments][1][Applets][3][Configuration]
PreloadWeight=42

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][1][Applets][4][Configuration]
PreloadWeight=92

[Containments][1][Applets][4][Configuration][General]
favorites=preferred://browser,systemsettings.desktop,org.kde.dolphin.desktop,org.kde.kate.desktop,org.kde.discover.desktop
favoritesPortedToKAstats=true

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][5][Configuration]
PreloadWeight=47
SystrayContainmentId=6

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=42

[Containments][1][Applets][57][Configuration][General]
launchers59=applications:firefox.desktop,applications:org.kde.dolphin.desktop

[Containments][1][ConfigDialog]
DialogHeight=1218
DialogWidth=1051

[Containments][1][Configuration]
PreloadWeight=42

[Containments][1][General]
advanced=false
appletOrder=4;57;3;5
autoDecreaseIconSize=false
iconMargin=0
iconSize=48
maxLength=90
panelPosition=10
panelSize=100
shadowOpacity=35
shadowSize=45
showGlow=false
shrinkThickMargins=true
splitterPosition=3
splitterPosition2=4
zoomLevel=0

[Containments][6]
PreloadWeight=42
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][6][Applets][10]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][6][Applets][10][Configuration]
PreloadWeight=42

[Containments][6][Applets][11]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][6][Applets][11][Configuration]
PreloadWeight=42

[Containments][6][Applets][12]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][6][Applets][13]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][6][Applets][13][Configuration]
PreloadWeight=42

[Containments][6][Applets][14]
immutability=1
plugin=org.kde.plasma.battery

[Containments][6][Applets][14][Configuration]
PreloadWeight=42

[Containments][6][Applets][16]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][6][Applets][17]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][6][Applets][17][Configuration]
PreloadWeight=42

[Containments][6][Applets][43]
immutability=1
plugin=org.kde.discovernotifier

[Containments][6][Applets][43][Configuration]
PreloadWeight=42

[Containments][6][Applets][58]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][6][Applets][58][Configuration]
PreloadWeight=42

[Containments][6][Applets][59]
immutability=1
plugin=org.kde.plasma.vault

[Containments][6][Applets][59][Configuration]
PreloadWeight=42

[Containments][6][Applets][7]
immutability=1
plugin=org.kde.kdeconnect

[Containments][6][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[Containments][6][Applets][9][Configuration]
PreloadWeight=42

[Containments][6][ConfigDialog]
DialogHeight=960
DialogWidth=1280

[Containments][6][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.vault,org.kde.plasma.keyboardindicator
knownItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.vault,org.kde.plasma.keyboardindicator

[LayoutSettings]
activities=
background=
color=lightskyblue
disableBordersForMaximizedWindows=false
globalLaunchers=
lastUsedActivity=80718a5c-0d6d-4162-b7e0-2cbc9ad70189
launchers=
showInMenu=true
textColor=fcfcfc
version=2
